on:
  push:
    branches:
      - main
    paths:
      - 'gateway/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        working-directory: ./gateway
        run: npm install

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: ./gateway  # upload toàn bộ folder gateway

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.__CLIENT_ID_SECRET_NAME__ }}
          tenant-id: ${{ secrets.__TENANT_ID_SECRET_NAME__ }}
          subscription-id: ${{ secrets.__SUBSCRIPTION_ID_SECRET_NAME__ }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'bookstore-gateway-app'
          slot-name: 'Production'
          package: .
